configuration {
 font:"JetBrains Mono NL SemiBold 16";
 show-icons:true;
 icon-theme:"Papirus";
 display-drun: "RUN";
 drun-display-format:"{name}";
 sort:true;
 disable-history: false;
 sidebar-mode : false;
 }

 @theme "themes/mytheme3" 



